.Status {
    padding: 5px 16px;
    color: #fff;
    font-weight: 900;
    border-radius: 4px;
}
.Credit {
    background-color: green;
}
.Debit {
    background-color: red;
}
h1 {
    margin-top: 50px;
}
