@import url("https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap");
html {
    font-family: "Yusei Magic", sans-serif;
}
.app {
    // box-shadow: 12px 12px 16px 0 rgba(255, 255, 255, 0.3) inset,
    //     -8px -8px 12px 0 rgba(0, 0, 0, 0.25) inset;
    // border-radius: 35px;
    background-color: #001692;
    width: 100%;
    overflow: hidden;
    .content {
        margin: 30px;
        background-color: #fff;
        border-radius: 40px;
        .nav {
            background-color: transparent;
            min-height: calc(100vh - 60px);
            display: flex;
            flex-direction: column;
            justify-content: center;
            ul {
                padding: 0;
                i {
                    font-size: 40px;
                }
                li {
                    list-style-type: none;
                    margin: 0;
                    padding: 20px 30px;
                    font-size: 12px;
                    color: rgb(0, 0, 0);
                    font-weight: 900;
                    border-radius: 0 30px 30px 0;
                    margin-bottom: 0px;
                    transition: 0.3s ease-in-out;
                    &:hover {
                        background-color: #001692c5;
                        color: #fff;
                    }
                }
                li.active {
                    background-color: #001692;
                    color: #fff;
                }
            }
            span {
                font-size: 20px;
                margin: 0 12px;
            }
            div {
                position: absolute;
                bottom: 10px;
            }
        }
    }
}
